* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.all-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* grid-template: auto 1fr auto; */
  min-height: 100vh;
}
